@use '@angular/material' as mat;

:host {
  display: inline-flex;

  @include mat.button-overrides((
    filled-container-shape: 0.45rem,
  ));
}

button {
  white-space: nowrap;
}

mat-icon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

@media (max-width: 700px) {
  button {
    --mat-button-filled-horizontal-padding: 0.55rem;
  }
}
